*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#34495e;
text-align:center;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
background:#3498db;
color:white;
text-align:center;
padding:60px;
}

.about{
padding:40px;
text-align:center;
}

.courses{
padding:40px;
text-align:center;
}

.card-container{
display:flex;
justify-content:space-around;
margin-top:20px;
}

.card{
background:#f4f4f4;
padding:20px;
width:25%;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.contact{
padding:40px;
text-align:center;
}

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}